---
import EpisodeCard from "./EpisodeCard.astro";
import { Image } from 'astro:assets';
import episodeImage from '../images/episode.svg';
import Buttons from "./Buttons.astro";
---

<section class="episode-section">
  <div class="episode">
    <Image src={episodeImage} alt="Episodes" class="episodes-image" />
    <h2>過去回を聴く</h2>
    <p>各回をちょこっと視聴できます。<br>もっと聴きたい場合はSpotifyでお楽しみください！</p>
    <div class="episodes-wrap">
      <EpisodeCard />
    </div>
    <Buttons />
  </div>
</section>

<style>
  section {
    background-color: #fff;
    color: #474C62;
    border-radius: 56px 56px 0 0;
    margin-top: -48px;
  }

  .episode {
    padding: 40px 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    line-height: 160%;
    margin: 0;
    text-align: center;
  }

  .episodes-image {
    max-width: 50%;
  }

  .episodes-wrap {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger)

  const section = document.querySelector('.episode-section');

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: section,
      toggleActions: "play none none reverse",
      start: "top 80%",
    },
  })

  tl.fromTo(section,
    {
      y: 50,
      autoAlpha: 0,
    },
    {
      y: 0,
      autoAlpha: 1,
      duration: 0.6,
      ease: "back.out",
    }
  )


</script>