<footer>
  <p>Copyright 2024.  Peachoolong All Rights Reserved.</p>
</footer>

<style>
  footer {
    padding: 16px;
    color: #474C62;
    text-align: center;
  }

  p {
    font-size: 10px;
    margin: 0;
  }
</style>